.profile-img {
    display: block;
    margin: auto;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    margin-top: 2rem;
}

.profile-name{
    text-align: center;
    padding-top: 3rem;
    font-size: 3rem;
    font-weight: 100;
}

.profile-posts{
    text-align: center;
    font-size: 2rem;
}